@page
@model prevention_productivity.Pages.ProductivityLogs.IndexModel

@{
   ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productivity Logs</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New Productivity Log</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Log Date
            </th>
            <th>
               Team Member
            </th>
            <th>
               Focus Area
            </th>
            <th>
               Grant Program
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.ProductivityLog) {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => 
                    Model.TeamMember.FirstOrDefault(x => x.Id == item.TeamMemberID).FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocusArea)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => 
                            Model.Grants.FirstOrDefault(y => y.Id == item.GrantProgramID).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                        @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthOperations.Update)).Succeeded)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.LogID">Edit</a>
                            <text> | </text>
                        }
                <a asp-page="./Details" asp-route-id="@item.LogID">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <text> | </text>
                            <a asp-page="./Delete" asp-route-id="@item.LogID">Delete</a>
                        }
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
