@page
@model prevention_productivity.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Event</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
      <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-md-2">
       Total Budget
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.EventBudget)
        </dd>
         <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Status)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Status)
        </dd>
        <dt class="col-md-2">
            Affiliated Organizations
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.EventAffiliates)
        </dd>
         <dt class="col-md-2">
       Event Lead
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.EventLead.FullName)
        </dd>
       
        
        <dt class="col-md-2">
           Open to the Public?
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.PublicEvent )
        </dd>
        <dt class="col-md-2">
            RSVP Required?
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.RSVPRequired)
        </dd>
        <dt class="col-md-2">
           Annual Event?
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.AnnualEvent)
        </dd>
        <dt class="col-md-2">
         New Event?
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.NewEvent)
        </dd>
         <dt class="col-md-2">
          Associated Grant
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.GrantProgram.Name)
        </dd>
        <dt class="col-md-2">
         Program Description
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-md-2">
            Event Education Goal
        </dt>
        <dd class="col-md-10">
                @Html.DisplayFor(model => model.Event.EducationGoal)
        </dd>
        <dt class="col-md-2">
            Event Curriculum Component
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Curriculum)
        </dd>
        <dt class="col-md-2">
            Information Distribution Plan
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.InformationDistribution)
        </dd>
        <dt class="col-md-2">
            Outreach Plan
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Outreach)
        </dd>
        <dt class="col-md-2">
            Grant Goals
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.GrantGoal1)
        </dd>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.GrantGoal2)

        </dd>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.GrantGoal3)

        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Location)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Location)
        </dd>
        <dt class="col-md-2">
            Location Detail
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.LocationDetail)
        </dd>
       
        <dt class="col-md-2">
           Event Start
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.EventStart)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Duration)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Duration)
        </dd>
        <dt class="col-md-2">
           Setup Time
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.SetUpTime)
        </dd>
        <dt class="col-md-2">
        Cleanup Time
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.CleanUpTime)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Agenda)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Agenda)
        </dd>
        <dt class="col-md-2">
     Target Population
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.TargetPopulation)
        </dd>
        <dt class="col-md-2">
           Target Age Group
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.AgeGroup)
        </dd>
        <dt class="col-md-2">
         Parting Gifts
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.PartingGift)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Raffle)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Raffle)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Marketing)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Marketing)
        </dd>
        <dt class="col-md-2">
     Special Order Gear
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.SpecialOrderGear)
        </dd>
        <dt class="col-md-2">
     Special Order Design Elements
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.SpecialOrderDesignElements)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Performance)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Performance)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Vendors)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Vendors)
        </dd>
          <dt class="col-md-2">
          Head Count for Food
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.FoodHeadCount)
        </dd>
          <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Caterer)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Caterer)
        </dd>
        <dt class="col-md-2">
      Food & Beverage Needs
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.FoodBeverage)
        </dd>
      <dt class="col-md-2">
         Prevention Team Members
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.PreventionTeamMembers)
        </dd>
        <dt class="col-md-2">
Staff Time Commitment
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.StaffTimeCommitment)
        </dd>
        <dt class="col-md-2">
         Staff Duties
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.StaffDuties)
        </dd>
      
       
        <dt class="col-md-2">
    NORA Clients Attending
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.NORAClients)
        </dd>
        <dt class="col-md-2">
            Volunteers Needed?
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Volunteers)
        </dd>
        <dt class="col-md-2">
          List of Volunteers
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.VolunteerList)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Supplies)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Supplies)
        </dd>
         <dt class="col-md-2">
        Other Special Orders
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.OtherSpecialOrder)
        </dd>
        <dt class="col-md-2">
            Guest List
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.GuestList)
        </dd>
        
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Event.Notes)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Event.Notes)
        </dd>
       
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Event.Id" />
        <input type="submit" value="Remove Event" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>
</html>
