@page
@model prevention_productivity.Pages.Grants.DetailsModel

@{
  ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grant Details</title>
</head>
<body>

    <h4>Grant Program Details</h4>
<div>
    
<div>
    @if(User.IsInRole("Admin")){
    <a asp-page="./Edit" asp-route-id="@Model.GrantProgram.Id">Edit</a> 
    <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrantProgram.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrantProgram.Name)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrantProgram.AwardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrantProgram.AwardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrantProgram.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrantProgram.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrantProgram.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrantProgram.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrantProgram.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrantProgram.EndDate)
        </dd>
    </dl>
</div>
</body>
</html>
