@page
@model prevention_productivity.Pages.Grants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grant Information</title>
</head>
<body>
     @if (User.IsInRole("Admin"))
    {
    <p>
    <a asp-page="Create">Add New Grant</a>
    </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrantProgram[0].Name)
            </th>
            <th>
                <a asp-page="./Index" asp-route-startDateSort="@Model.StartDateSort">
                        @if(Model.StartDateSort == "asc")
                        {
                            <text>↑  Start Date</text>
                        }
                        else
                        {
                            <text>↓  Start Date</text>
                        }
                    </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-endDateSort="@Model.EndDateSort">
                        @if(Model.EndDateSort == "asc")
                        {
                            <text>↑  End Date</text>
                        }
                        else
                        {
                            <text>↓  End Date</text>
                        }
                    </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GrantProgram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @item.StartDate.ToShortDateString()
            </td>
            <td>
               @item.EndDate.ToShortDateString()
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                        <a asp-page = "./Delete" asp-route-id = "@item.Id" > Delete </a>
                        <text> | </text>
                 }
                        <a asp-page = "./Details" asp-route-id = "@item.Id" > Details </a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
