@page
@model prevention_productivity.Pages.SchoolReports.IndexModel

@{
   ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolReport[0].Curriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolReport[0].LessonPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolReport[0].SchoolName)
            </th>
           <th>
                    @Html.DisplayNameFor(model => model.SchoolReport[0].TeamMember.FullName)
           </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolReport[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SchoolReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curriculum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
           <td>
                        @Html.DisplayFor(modelItem => item.TeamMember.FullName)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SchoolReportId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SchoolReportId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SchoolReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
